# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

DevauthConfig.lnk
/logs
/config
/saves
usernamecache.json
usercache.json
options.txt
